.Perfil {
    text-align: center;
}

hr {
    width: 800px;
}

.infoMaster {
    display: inline-flex;
    width: 800px;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 50px;
}

.info {
    text-align: left;
    padding-left: 100px;
    align-self: center;
}

.infoUsername h4 {
    padding-right: 12px;
}

.infoUsername {
    padding-bottom: 20px;
    display: inline-flex;
}

.perfilPhoto {
    height: 150px;
}

.posts {
    width: 800px;
    display: inline-flex;
}