.Login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login Form {
    margin: 0 auto;
    width: 380px;
    text-align: start;
}

.div-signup {
    text-align: center;
    margin: 10px;
}